<div class="container" *ngIf="goal">
  <mat-card>
    <mat-card-title>{{goal.name}}</mat-card-title>
    <mat-card-content>Goal Date: {{goal.date | date}}</mat-card-content>
    <mat-card-footer></mat-card-footer>
    <button mat-mini-fab color="basic">
      <mat-icon class="fav-icon" (click)="favGoal()" [color]="fav === true ? 'warn' : 'disabled' ">favorite</mat-icon>
    </button>
    <button mat-mini-fab color="basic">
      <mat-icon class="delete-icon" (click)="deleteTheGoal()">delete</mat-icon>
    </button>


  </mat-card>
</div>
