

<div *ngIf="!selected" class="container">

<h1>My Goals App</h1>


<!-- <ul>
  <li>Fitness</li>
  <li>Financial</li>
  <li>Career</li>
  <li>Family</li>
  <li>Social</li>
</ul> -->

<label for="id" id="id-num"></label>
<input type="number" id [(ngModel)]="id" placeholder="id">
<label for="goal" id="goal-name"></label>
<input type="text" id="goal" [(ngModel)]="name" placeholder="name">
<button
type="submit"
mat-raised-button color="primary"
(click)="onAddGoal()"
>Add Goal</button>

<!-- <p>{{goalName}}</p> -->
<mat-chip-list id="chips">
  <mat-chip *ngFor="let goal of goals"
  selected="true"
  color="basic"
  (click)="onSelect(goal)"
  >
  ID: {{goal.id}} <br> Goal name: {{goal.name}}
</mat-chip>
</mat-chip-list>

<!-- <p *ngFor="let goal of goals">
  Goal: {{goal.name}}
<br>
  Description: {{goal.description}}
<br>
  ID: {{goal.id}}
</p> -->

</div>

<app-goal [goal]="selectedGoal" (closeGoal)="openGoals()"></app-goal>
